.menu {
    color: red;
    list-style:none;
    margin-right: 20px;
    padding-right: 10px;
}
.menu a:hover {
    color: blue;
}

.menu li{
    float: left;
    }

.main {
    color: aqua;
}

h3 {
    clear: both;
}